* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
}

h2 {
  font-size: 56px;
  line-height: 64.4px;
  font-weight: bold;
  color: #0d1b2a;
  text-align: center;
}

header {
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 24px 0;
  background-color: #ffffff;
}
.logo {
  height: 44px;
}
.logo img {
}

nav {
}
nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
nav ul li {
}
nav ul li a {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 500;
}

.btn-primary {
  background-color: #1d4ed8;
  padding: 12px;
  min-width: 164px;
  border-radius: 10px;
  text-align: center;
}
.btn-primary a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.hero {
  background:
    linear-gradient(83deg, rgba(0, 0, 0, 0.6) 30%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(198deg, rgba(0, 0, 0, 0) 42%, rgba(0, 0, 0, 0.88) 87%),
    url(./images/banner.jpg);
  background-size: cover;
  height: 700px;
  background-position: center;
}

.hero-content {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  letter-spacing: -3.2px;
  color: #ffffff;
  margin: 110px 0 25px;
}
.hero p {
  width: 800px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 265px;
}

.hero-content .btn-primary {
  padding: 25px 62px;
}
.hero-content .btn-primary a {
  font-size: 24px;
}

/* speakers section  */

.speakers {
  margin: 80px auto;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-top: 56px;
}

.card {
  width: 614px;
  height: 460px;
  box-sizing: border-box;
  border: 1px solid #e5e7eb;
}
.card-image {
  width: 612px;
  height: 324px;
}
.card-image img {
  width: 100%;
}

.card-details {
  padding: 24px;
}
.card-details h5 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 18px;
  color: #2563eb;
}
.card-details h3 {
  font-size: 20px;
  font-weight: bold;
  line-height: 27.5px;
  color: #0d1b2a;
  margin: 8px 0;
}
.card-details p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #575757;
}

.pricing p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  color: #575757;
  margin-top: 12px;
}
.pricing-cards {
  display: flex;
  gap: 24px;
  padding: 80px;
}
.pricing-card {
  border: 1px solid #e5e7eb;
  padding: 32px;
  width: 370px;
  border-radius: 12px;
}
.top-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e7eb;
}
.top-title h6 {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 19.5px;
  letter-spacing: 0.32px;
  color: #888888;
}

.top-title h2 {
  font-size: 44px;
  font-weight: bold;
  line-height: 44px;
  color: #0d1b2a;
  padding-top: 8px;

  text-align: left;
}
.top-title p {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  color: #888888;
  text-align: left;
  margin: 0;
}
.offers {
  padding: 20px 0;
}
.offers ul {
  margin-left: 18px;
}
.offers ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #333333;
  margin-bottom: 10px;
}
.offers ul li::marker {
  color: #2563eb;
  font-size: 14px;
}
.btn-primary a.btn-font {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}
.secondary-btn {
  border: 1px solid #2563eb;
  border-radius: 8px;
  text-align: center;
  padding: 11px 80px;
}
.secondary-btn a {
  text-decoration: none;
  color: #2563eb;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
}

.pro-color {
  background-color: #0d1b2a;
  border: 1px solid #0d1b2a;
}
.pro-color .top-title {
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.11);
}
.pro-color .top-title h6 {
  color: #60a5fa;
}
.pro-color .top-title h2 {
  color: #ffffff;
}
.pro-color .top-title p {
  color: rgba(255, 255, 255, 0.5);
}
.pro-color .offers ul li {
  color: rgba(255, 255, 255, 0.801);
}
.pro-color .offers ul li::marker {
  color: #60a5fa;
}

/* challange section  */

.challange {
  margin-top: 40px;
}
.challange p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 24px;
  color: #575757;
  margin-top: 12px;
}
.qus-anw_part {
  display: flex;
  justify-content: center;
  margin: 60px 100px;
  gap: 30px;
}
.left-content {
  flex-basis: 30%;
  border: 1px solid #e5e7eb;
  padding: 15px;
}
.left-content h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 27.5px;
  color: #0d1b2a;
}
.left-content p {
  font-size: 15px;
  text-align: left;
}
.faq-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background: #5285f31f;
  border-radius: 100%;
  margin-bottom: 30px;
}
.faq-image img {
  width: 60%;
}

.more-help {
  position: relative;
  padding: 30px;
  margin-top: 60px;
}
.more-help-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
}
.more-help-image img {
  width: 100%;
}
.more-help h4 {
  font-size: 16px;
}
.more-help p {
  margin: 0;
}
.more-help a {
  text-decoration: none;
  color: #2563eb;
  font-size: 16px;
}

.right-content {
  flex-basis: 60%;
}
.qus-cards {
}
.qus-card {
  display: flex;
  width: 600px;
  padding: 25px;
  border: 1px solid #e5e7eb;

  border-radius: 8px;
  justify-content: space-between;
}

.qus-card:not(:last-child) {
  margin-bottom: 20px;
}
.qus-card h5 {
  font-size: 18px;
  font-weight: 600;
  color: #0d1b2a;
}
.qus-card i {
  color: #0d1b2a;
}
.answer p {
  text-align: left;
  padding: 30px 50px 20px 0;
}

/* footer section  */

footer {
  height: 285px;
  background-color: #0d1b2a;
  border-top: 1px solid slategrey;
}
.social-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 80px 58px;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 30px;
  height: 30px;
}
.footer-logo p {
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: -0.6px;
  color: #ffffffcc;
}
.icon {
  display: flex;
}
.icon-img {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  background: #2563eb;
  display: flex;
  align-items: center;
  border-radius: 100%;
}
.footer-logo img,
.icon-img i {
  width: 100%;
}
.icon-img i {
  font-size: 25px;
  text-align: center;
  color: #ffffffcc;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92%;
  margin: 0 auto;
  padding: 28px 0;
  border-top: 1px solid rgba(114, 117, 121, 0.39);
}
.copyright-left,
.copyright-right {
  display: flex;
  align-items: center;
}
.copyright-left p,
.copyright-right p {
  font-size: 16px;
  color: #aaaaaa;
  font-weight: 400;
  letter-spacing: -0.4;
}
.green-dot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #203f30;
  margin: 0 8px;
}
