* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 24px 0;
  background-color: #ffffff;
}
.logo {
  height: 44px;
}
.logo img {
}

nav {
}
nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}
nav ul li {
}
nav ul li a {
  text-decoration: none;
  color: #575757;
  font-size: 16px;
  line-height: 25.6px;
  font-weight: 500;
}

.btn-primary {
  background-color: #1d4ed8;
  padding: 12px;
  min-width: 164px;
  border-radius: 10px;
  text-align: center;
}
.btn-primary a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.hero {
  background-image: url(./images/banner.jpg);
  background-size: cover;
  height: 700px;
  background-position: center;
}

.hero-content {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  letter-spacing: -3.2px;
  color: #ffffff;
  margin: 110px 0 25px;
}
.hero p {
  width: 800px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 265px;
}

.hero-content .btn-primary {
  padding: 25px 62px;
}
.hero-content .btn-primary a {
  font-size: 24px;
}
